<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seminify.application.header.HeaderMapper">
    <delete id="delete">
<![CDATA[
DELETE FROM header
WHERE id = #{id};
]]>
    </delete>
    <resultMap id="headerDTO" type="org.seminify.application.header.HeaderDTO">
        <id column="id" property="id" />
        <result column="header" property="header" />
        <result column="src" property="src" />
        <result column="order" property="order" />
        <association columnPrefix="authority_" property="authority"
            resultMap="org.seminify.application.authority.AuthorityMapper.authorityDTO" />
    </resultMap>
    <select id="get" resultMap="headerDTO">
<![CDATA[
SELECT id,
    header,
    src,
    authority_id,
    `order`
FROM header
ORDER BY `order` DESC;
]]>
    </select>
    <select id="getByAuthority" resultMap="headerDTO">
<![CDATA[
SELECT a.id,
    a.header,
    a.src,
    a.authority_id,
    a.`order`
FROM header a
    JOIN authority b ON a.authority_id = b.id
WHERE b.authority = #{authority};
]]>
    </select>
    <insert id="post">
<![CDATA[
INSERT INTO header (header, src, authority_id, `order`)
VALUES(#{header}, #{src}, #{authority.id}, #{order});
]]>
    </insert>
</mapper>