<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seminify.application.header.HeaderMapper">
  <delete id="delete">
<![CDATA[
DELETE FROM header
WHERE id = #{id};
]]>
    </delete>
  <resultMap id="headerDTO" type="org.seminify.application.header.HeaderDTO">
    <id column="id" property="id" />
    <result column="title" property="title" />
    <result column="src" property="src" />
    <result column="order" property="order" />
    <association
      columnPrefix="header_"
      property="header"
      resultMap="headerDTO"
    />
    <association
      columnPrefix="authority_"
      property="authority"
      resultMap="org.seminify.application.authority.AuthorityMapper.authorityDTO"
    />
  </resultMap>
  <select id="get" resultMap="headerDTO">
<![CDATA[
SELECT id,
    header_id,
    authority_id,
    title,
    src,
    `order`
FROM header
ORDER BY `order` DESC;
]]>
    </select>
  <select id="getByAuthorities" resultMap="headerDTO">
<![CDATA[
SELECT a.id,
    a.header_id,
    a.authority_id,
    a.title,
    a.src,
    a.`order`
FROM header a
    JOIN authority b ON a.authority_id = b.id
WHERE b.authority IN
]]>
<foreach
      close=")"
      collection="authorities"
      item="authority"
      open="("
      separator=","
    >
<![CDATA[
#{authority.authority}
]]>
</foreach>
<![CDATA[
ORDER BY a.`order` DESC;
]]>
    </select>
  <insert id="post">
<![CDATA[
INSERT INTO header (header_id, authority_id, title, src, `order`)
VALUES(
        #{header_id},#{authority.id},#{title}, #{src},  #{order});
]]>
    </insert>
</mapper>
