<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.seminify.application.authority.AuthorityMapper">
  <delete id="delete">
<![CDATA[
DELETE FROM authority
WHERE
  id = #{id};
]]>
  </delete>
  <resultMap
    id="authorityDTO"
    type="org.seminify.application.authority.AuthorityDTO"
  >
    <id column="id" property="id" />
    <result column="authority" property="authority" />
    <result column="order" property="order" />
  </resultMap>
  <select id="get" resultMap="authorityDTO">
<![CDATA[
SELECT
  id,
  authority,
  `order`
FROM
  authority
ORDER BY
  `order` DESC;
]]>
  </select>
  <select id="getById" resultMap="authorityDTO">
<![CDATA[
SELECT
  id,
  authority,
  `order`
FROM
  authority
WHERE
  id = #{id};
]]>
  </select>
  <select id="getByAuthority" resultMap="authorityDTO">
<![CDATA[
SELECT
  id,
  authority,
  `order`
FROM
  authority
WHERE
  authority = #{authority};
]]>
  </select>
  <insert id="post">
<![CDATA[
INSERT INTO
  authority (authority)
VALUES
  (#{authority});
]]>
  </insert>
  <update id="put">
<![CDATA[
UPDATE authority
SET
  authority = #{authority},
  `order` = #{order}
WHERE
  id = #{id};
]]>
    </update>
</mapper>
